# Tennis Ranking

In [1]:
from tennis_tools import TennisUniverse

In [2]:
tu = TennisUniverse('tennis*.csv')
tu

TennisUniverse
  files: ['tennis20230523.csv']
  n_accepted_rows: 449
  n_rejected_rows: 49
  n_players: 222
  tournaments:
    - 'AICS 2023'
    - 'Mr. Dodo 23 - Fase Eliminatoria'
    - 'Mr. Dodo 23'
    - 'Mr. Dodo 22'
    - 'Mr. Dodo 22 - Fase Eliminatoria'
    - 'AICS 2022'
    - 'AICS 2022 - Fase Eliminatoria'

In [3]:
tu.rejected

                                         error_type
file               file_row
tennis20230523.csv 17        players not admittable
                   18        players not admittable
                   19        players not admittable
                   32        players not admittable
                   86          score not admittable
                   93        players not admittable
                   168       players not admittable
                   289         score not admittable
                   380         score not admittable
                   401       players not admittable
                   402       players not admittable
                   403       players not admittable
                   405         score not admittable
                   408       players not admittable
                   410       players not admittable
                   411       players not admittable
                   412       players not admittable
                   419       players not admittable
                   420       players not admittable
                   421       players not admittable
                   425       players not admittable
                   427       players not admittable
                   440       players not admittable
                   441       players not admittable
                   443       players not admittable
                   444       players not admittable
                   445       players not admittable
                   446       players not admittable
                   451       players not admittable
                   452       players not admittable
                   458       players not admittable
                   459       players not admittable
                   460       players not admittable
                   464         score not admittable
                   465         score not admittable
                   466         score not admittable
                   467         score not admittable
                   468         score not admittable
                   469         score not admittable
                   479       players not admittable
                   480       players not admittable
                   481       players not admittable
                   484       players not admittable
                   488       players not admittable
                   489       players not admittable
                   490       players not admittable
                   497       players not admittable
                   498       players not admittable
                   499       players not admittable

In [4]:
tu.optimize()

(tic)
Optimization started. n_iter = 3000
 n 0: loss = 1736.82080078125
 n 100: loss = 1322.4364013671875
 n 200: loss = 1320.4737548828125
 n 300: loss = 1320.3853759765625
 n 400: loss = 1320.37646484375
 n 500: loss = 1320.3751220703125
 n 600: loss = 1320.3751220703125
 n 700: loss = 1320.375
 n 800: loss = 1320.375
 n 900: loss = 1320.375
 n 1000: loss = 1320.375
 n 1100: loss = 1320.3751220703125
 n 1200: loss = 1320.3751220703125
 n 1300: loss = 1320.3751220703125
 n 1400: loss = 1320.3751220703125
 n 1500: loss = 1320.3751220703125
 n 1600: loss = 1320.3751220703125
 n 1700: loss = 1320.3751220703125
 n 1800: loss = 1320.3751220703125
 n 1900: loss = 1320.3751220703125
 n 2000: loss = 1320.3751220703125
 n 2100: loss = 1320.3751220703125
 n 2200: loss = 1320.3751220703125
 n 2300: loss = 1320.3751220703125
 n 2400: loss = 1320.3751220703125
 n 2500: loss = 1320.3751220703125
 n 2600: loss = 1320.3751220703125
 n 2700: loss = 1320.3751220703125
 n 2800: loss = 1320.3751220703125
 n 2900: loss = 1320.3751220703125
 n 3000: loss = 1320.3751220703125 (end)
(toc) 32.69 s

In [5]:
tu.ranking

                    player     ability  n_singles  n_doubles  n_tot
rank
1        Martini Francesco  106.648705          3          3      6
2             Nardi Matteo  105.759041          1          0      1
3               Citti Luca  105.629150          1          8      9
4     Giannecchini Daniele  104.929733          9          1     10
5      Pierantoni Fabrizio  104.849770         11          0     11
...                    ...         ...        ...        ...    ...
218           Griseta Luca   93.691116          3          0      3
219       Baldacci Giorgio   92.903961          1          1      2
220      Recidivi Leopoldo   92.468513          0          1      1
221       Ceragioli Simone   91.837875          2          4      6
222      Micheletti Nicola   91.807663          2          0      2

[222 rows x 5 columns]

In [6]:
tu.save("tennis_ranking.csv") # or '"tennis_ranking.xlsx"