## Quick guide notebook

In [1]:
from tennis_tools import TennisUniverse

### Load Data

- single file

In [2]:
tu = TennisUniverse('data_1.csv')
tu

TennisUniverse
  files: ['data_1.csv']
  n_accepted_rows: 130
  n_rejected_rows: 2
  n_players: 94
  tournaments:
    - 'Mr. Dodo 22'
    - 'Mr. Dodo 22 - Fase Eliminatoria'

- more files

In [3]:
tu = TennisUniverse('data_1.csv', 'data_2.csv', 'other_data.csv')
tu

TennisUniverse
  files: ['data_1.csv', 'data_2.csv', 'other_data.csv']
  n_accepted_rows: 649
  n_rejected_rows: 9
  n_players: 188
  tournaments:
    - 'Mr. Dodo 22'
    - 'Mr. Dodo 22 - Fase Eliminatoria'
    - 'AICS 2023'
    - 'Mr. Dodo 23 - Fase Eliminatoria'
    - 'Mr. Dodo 23'

- 'star' notation

In [4]:
tu = TennisUniverse('data_*.csv', 'other_data.csv')
tu

TennisUniverse
  files: ['data_1.csv', 'data_2.csv', 'other_data.csv']
  n_accepted_rows: 649
  n_rejected_rows: 9
  n_players: 188
  tournaments:
    - 'Mr. Dodo 22'
    - 'Mr. Dodo 22 - Fase Eliminatoria'
    - 'AICS 2023'
    - 'Mr. Dodo 23 - Fase Eliminatoria'
    - 'Mr. Dodo 23'

### Check Rejected Rows

In [5]:
tu.rejected

                                     error_type
file           file_row
data_1.csv     35          score not admittable
               126         score not admittable
data_2.csv     102       players not admittable
               223         score not admittable
               272         score not admittable
other_data.csv 37          score not admittable
               44        players not admittable
               151         score not admittable
               242         score not admittable

### View Loaded Data

In [6]:
tu.df

                                                      players A  \
file           file_row
data_1.csv     0                              Pierluigi Pacomio
               1         Telemaco Pizzetti, Baldassare Nosiglia
               2                             Vittorio Giannuzzi
               3                               Gabriele Fantoni
               4                               Cirillo Pisaroni
...                                                         ...
other_data.csv 243                              Fulvio Zoppetti
               244           Atenulf Solimena, Adriano Spinelli
               245                             Gabriele Fantoni
               246                            Manuel Cannizzaro
               247          Donato Cattaneo, Sebastiano Alfieri

                                                  players B         score  \
file           file_row
data_1.csv     0                            Fulvio Zoppetti       1-6 2-6
               1              Atenulf Solimena, Lucio Conte       4-6 2-6
               2                           Ippazio Milanesi       7-6 6-4
               3                            Domenico Cusano       6-0 6-0
               4                          Ugolino Ricciardi       6-2 6-0
...                                                     ...           ...
other_data.csv 243                           Gianni Guarana       5-7 2-6
               244       Giacinto Orengo, Manuel Cannizzaro       5-7 3-6
               245                            Ennio Rizzoli  3-6 7-6 7-10
               246                           Pasqual Dovara       6-3 7-6
               247        Ubaldo Ramazzotti, Gioffre Farina       6-3 6-3

                                              tournament
file           file_row
data_1.csv     0                             Mr. Dodo 22
               1                             Mr. Dodo 22
               2                             Mr. Dodo 22
               3                             Mr. Dodo 22
               4                             Mr. Dodo 22
...                                                  ...
other_data.csv 243       Mr. Dodo 22 - Fase Eliminatoria
               244       Mr. Dodo 22 - Fase Eliminatoria
               245       Mr. Dodo 22 - Fase Eliminatoria
               246       Mr. Dodo 22 - Fase Eliminatoria
               247       Mr. Dodo 22 - Fase Eliminatoria

[658 rows x 4 columns]

In [7]:
tu.n_players

188

In [8]:
tu.players

                         player
player_idx
0             Pierluigi Pacomio
1               Fulvio Zoppetti
2             Telemaco Pizzetti
3           Baldassare Nosiglia
4              Atenulf Solimena
...                         ...
183           Biagio Franceschi
184                Agnolo Conti
185              Nanni Lucchesi
186         Benvenuto Armellini
187               Ugo Taliercio

[188 rows x 1 columns]

### Ranking (Not Optimized Yet)

In [9]:
tu.ranking

                   player  ability  n_singles  n_doubles  n_tot
rank
1       Pierluigi Pacomio    100.0         21          7     28
2         Fulvio Zoppetti    100.0         15          9     24
3       Telemaco Pizzetti    100.0          0         11     11
4     Baldassare Nosiglia    100.0         10         10     20
5        Atenulf Solimena    100.0          0         22     22
...                   ...      ...        ...        ...    ...
184     Biagio Franceschi    100.0          1          0      1
185          Agnolo Conti    100.0          1          0      1
186        Nanni Lucchesi    100.0          0          1      1
187   Benvenuto Armellini    100.0          1          0      1
188         Ugo Taliercio    100.0          1          0      1

[188 rows x 5 columns]

### Optimization

To modify the loss function, you have to modify the source code. To just see how it's defined by default:

In [10]:
print(tu.loss)

Loss Function. Terms:
regularization: L2_Regularization(bandwidth=5.0)
mrdodo: LogLikelihoodTerm:
  scoring_system: 'MrDodo'
  n_samples: 649

In [11]:
'''
tu.optimize (n_iter=3000, 
             lr_start=1e-1, 
             lr_end=1e-3, 
             half_time=10, 
             months_shift='last played',
             device='cpu', # choose 'cuda' to work with GPU
             verbose=100):
'''
tu.optimize()

(tic)
Optimization started. n_iter = 3000
 n 0: loss = 2229.3115234375
 n 100: loss = 1654.361328125
 n 200: loss = 1651.0430908203125
 n 300: loss = 1650.776611328125
 n 400: loss = 1650.7396240234375
 n 500: loss = 1650.7330322265625
 n 600: loss = 1650.7315673828125
 n 700: loss = 1650.731201171875
 n 800: loss = 1650.7310791015625
 n 900: loss = 1650.7310791015625
 n 1000: loss = 1650.7310791015625
 n 1100: loss = 1650.73095703125
 n 1200: loss = 1650.731201171875
 n 1300: loss = 1650.7310791015625
 n 1400: loss = 1650.73095703125
 n 1500: loss = 1650.73095703125
 n 1600: loss = 1650.73095703125
 n 1700: loss = 1650.73095703125
 n 1800: loss = 1650.73095703125
 n 1900: loss = 1650.73095703125
 n 2000: loss = 1650.7310791015625
 n 2100: loss = 1650.7310791015625
 n 2200: loss = 1650.7310791015625
 n 2300: loss = 1650.7310791015625
 n 2400: loss = 1650.7310791015625
 n 2500: loss = 1650.7310791015625
 n 2600: loss = 1650.7310791015625
 n 2700: loss = 1650.7310791015625
 n 2800: loss = 1650.7310791015625
 n 2900: loss = 1650.7310791015625
 n 3000: loss = 1650.7310791015625 (end)
(toc) 14.73 s

### Ranking (Optimized)

In [12]:
tu.ranking

                   player     ability  n_singles  n_doubles  n_tot
rank
1     Salvatore Malaparte  106.692085          0          5      5
2        Ottone Basadonna  106.272957          2          0      2
3        Cirillo Pisaroni  105.739639         17          3     20
4      Gioacchino Flaiano  105.717369          0          2      2
5     Giuseppe Cavalcanti  105.717369          0          2      2
...                   ...         ...        ...        ...    ...
184       Domenico Cusano   93.604691          6          3      9
185        Valerio Aporti   92.754433          3          4      7
186          Lazzaro Luna   92.728943          3          0      3
187       Gionata Gulotta   90.980530          3          0      3
188       Ranieri Trapani   90.038269          0          2      2

[188 rows x 5 columns]

### Save Ranking

In [13]:
tu.save("ranking.xlsx") # or "ranking.csv"